body {
    margin: 0;
    font-family: "Rammetto One", sans-serif;

    font-size: 25px;
    line-height: 1.6;
    color: rgba(206, 60, 99, 1);
     -webkit-text-stroke: 1.5px #000; 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    height: 100%; 
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align:center;
    vertical-align: middle;
    padding-top: 625px;
     
}


/* avatar */
.avatar {
     
    background: url("C:/Users/максим/Desktop/site/assets/images/avatar.png") center
    no-repeat;
    width: 75%;
    height: -400px;
    position:fixed;
    top: 300px;
    left: 125px;
    right: 125px;
    z-index: 1000px;  
    padding-top: 425px;
    border-radius: 100%;
    background-size: 300px;

}


/* Intro2 */
.intro2 {
  
    width: 75%;
    height: 55%;
    position:fixed;
    top: 300px;
    left: 125px;
    right: 125px;
    z-index: 1000px;  
    padding-top: 800px;
    border-radius: 25px;

    background: url("../images/intro2.jpg") center 
    no-repeat;  
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center 
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* header */
.header {
    width: 100%;

    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* dekor */
.dekor {
    background: url("C:/Users/максим/Desktop/site/assets/images/dekor.png") center
    no-repeat;
    width: 75%;
    height: -400px;
    position:fixed;
    top: 300px;
    left: 125px;
    right: 125px;
    z-index: 1000px;  
    padding-top: 1850px;
    border-radius: 100%;
    background-size: 750px;
}
 
/* dekor2 */
.dekor2 {
    background: url("../images/dekor2.png") center
    no-repeat;
    width: 75%;
    height: -400px;
    position:fixed;
    top: 300px;
    left: 125px;
    right: 125px;
    z-index: 1000px;  
    padding-top: 900px;
    border-radius: 100%;
    background-size: 475px;
}

/* links */
            /* dslink */
            .dslink {
                background: url("../images/dslink.png") center
                no-repeat;
                width: 75%;
                height: -400px;
                position:fixed;
                top: 300px;
                left: -50px;
                right: 125px;
                z-index: 1000px;  
                padding-top: 905px;
                border-radius: 100%;
                background-size: 100px;
            }
                
            /* tglink */
            .tglink {
                background: url("../images/tglink.png") center
                no-repeat;
                width: 75%;
                height: -400px;
                position:fixed;
                top: 300px;
                left: 67px;
                right: 125px;
                z-index: 1000px;  
                padding-top: 900px;
                border-radius: 100%;
                background-size: 95px;
            }

            /* instlink */ 
            .instlink {
                background: url("../images/instlink.png") center
                no-repeat;
                width: 75%;
                height: -400px;
                position:fixed;
                top: 300px;
                left: 180px;
                right: 125px;
                z-index: 1000px;  
                padding-top: 900px;
                border-radius: 100%;
                background-size: 95px;
            }

            /* cklink */ 
            .cklink {
                background: url("../images/cklink.png") center
                no-repeat;
                width: 75%;
                height: -400px;
                position:fixed;
                top: 300px;
                left: 296px;
                right: 125px;
                z-index: 1000px;  
                padding-top: 900px;
                border-radius: 100%;
                background-size: 115px;
            }